<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ph03nix_x.capacityinfo"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
            android:name=".MainApp"
            android:configChanges="locale|layoutDirection|uiMode"
            android:backupAgent=".ApplicationBackup"
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:fullBackupOnly="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme"
            android:requestLegacyExternalStorage="true"
            tools:targetApi="q">

        <activity
                android:name=".activities.MainActivity"
                android:launchMode="singleInstance"
                android:exported="true"
                android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name=".services.CapacityInfoService"
                android:exported="false"
                android:icon="@mipmap/ic_launcher"
                android:roundIcon="@mipmap/ic_launcher_round"/>

        <service
                android:name=".services.StopCapacityInfoService"
                android:exported="false"
                android:icon="@mipmap/ic_launcher"
                android:roundIcon="@mipmap/ic_launcher_round"/>

        <service
                android:name=".services.OverlayService"
                android:exported="false"
                android:icon="@mipmap/ic_launcher"
                android:roundIcon="@mipmap/ic_launcher_round"/>

        <service
            android:name=".services.CloseNotificationBatteryStatusInformationService"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"/>

        <service
            android:name=".services.DisableNotificationBatteryStatusInformationService"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"/>

        <service
            android:name=".services.AutoBackupSettingsJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round" />

        <receiver android:name=".receivers.BootReceiver" android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.UpdateApplicationReceiver" android:exported="true">
            <intent-filter>

                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>

            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.DebugOptionsReceiver" android:exported="true">

            <intent-filter>

                <action android:name="android.provider.Telephony.SECRET_CODE"/>

                <!--CIDBGENABLED-->
                <data android:scheme="android_secret_code" android:host="243243622533"/>

                <!--CIDBGDISABLED-->
                <data android:scheme="android_secret_code" android:host="2432434722533"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>