<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
            android:name=".MainApp"
            android:configChanges="layoutDirection|uiMode"
            android:backupAgent=".ApplicationBackup"
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupOnly="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme"
            android:localeConfig="@xml/locales_config"
            android:pageSizeCompat="enabled"
            tools:targetApi="tiramisu">

        <activity
                android:name=".activities.MainActivity"
                android:launchMode="singleInstance"
                android:exported="true"
                android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode|layoutDirection">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name=".services.CapacityInfoService"
                android:foregroundServiceType="specialUse"
                android:exported="false"
                android:stopWithTask="false"
                android:icon="@mipmap/ic_launcher"
                android:roundIcon="@mipmap/ic_launcher_round"/>

        <service
                android:name=".services.OverlayService"
                android:exported="false"
                android:stopWithTask="false"
                android:icon="@mipmap/ic_launcher"
                android:roundIcon="@mipmap/ic_launcher_round"/>

        <service
            android:name=".services.CloseNotificationBatteryStatusInformationService"
            android:exported="false"
            android:stopWithTask="false"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"/>

        <service
            android:name=".services.DisableNotificationBatteryStatusInformationService"
            android:exported="false"
            android:stopWithTask="false"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"/>

        <service
            android:name=".services.FullChargeReminderJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"/>

        <service
            android:name=".services.CheckPremiumJob"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"/>

        <service
            android:name=".services.FastChargeJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"/>

        <receiver android:name=".receivers.BootReceiver" android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.UpdateApplicationReceiver" android:exported="true">
            <intent-filter>

                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>

            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.DebugOptionsReceiver" android:exported="true">

            <intent-filter>

                <action android:name="android.provider.Telephony.SECRET_CODE"/>

                <!--CIDBGENABLED-->
                <data android:scheme="android_secret_code"/>
                <data android:host="243243622533"/>

                <!--CIDBGDISABLED-->
                <data android:scheme="android_secret_code"/>
                <data android:host="2432434722533"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.CheckPremiumReceiver" android:exported="true">

            <intent-filter>

                <action android:name="android.provider.Telephony.SECRET_CODE"/>

                <!--CICHECKPREMIUM-->
                <data android:scheme="android_secret_code"/>
                <data android:host="24243257736486"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ads_app_id"/>

    </application>

</manifest>